  content img{
    width: 65%;
    border: 2px solid white;
    max-width: 700px;
  }
  .row img{ /*Mobile*/
    width: 50%;
  }
  @media only screen and (min-width: 800px) { /*Desktop*/
  .row img{
    width: 85%;
    }
  }
  .carousel img{
    width: 100%;
    margin: auto;
    align-self: stretch;
    max-height: none;

  
  }
  .carousel{ /*Mobile*/
    margin: auto;
    width: 80%;
    

  }
  @media only screen and (min-width: 800px) { /*Desktop*/
    .carousel{
      width: 45%;
      max-width: 1000px;
      }
    }
  .containerFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  .flexItem{
    border: 2px solid white;
  }
  content img{
    align-self: center;
    max-height: 700px;
    width: auto;
    max-width: 90vw;
    margin: 1vw;
  }


  form{
    width: 90vw;
    margin: auto;
  }
  footer{
    margin-top: 15vh;
    margin-bottom: -1vh;
  }